body {
    padding: 0;
    margin: 0;
    background-image: url(img1.jpg);
}

#divElement {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

h3:hover {
    color: white;
}

a {
    color: unset;
    text-decoration: none;
}
